<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="matrice">
            <h2><span>Matrice</span> {{ matrice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ matrice.libelle }}</span>
                </dd>
                <dt><span>Utilisateur</span></dt>
                <dd>
                    <div *ngIf="matrice.utilisateur">
                        <a [routerLink]="['/utilisateur', matrice.utilisateur?.id, 'view']">{{ matrice.utilisateur?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/matrice', matrice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
